#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(43, 47, 165);

}

.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  margin: 2rem 0;
}

.candidate-controls input, .candidate-card input{
  padding: 12px 20px;
  margin: 8px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  color: rgb(43, 47, 165);
  font-size: 1rem;
  min-width: 250px;
}

.candidate-controls input::placeholder {
  color: rgb(43, 47, 165, 0.5);;
}

button {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 12px 24px;
  margin: 8px;
  border-radius: 25px;
  color: rgb(43, 47, 165);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.candidate-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}

.candidate-card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 2rem;
}

.candidate-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.vote-list {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
}

.vote-list li {
  margin: 0.5rem 0;
}

.vote-history {
  margin-top: 3rem;
}

a[href*="neat.firecms.co"] {
  display: none !important;
}


/* Media Queries */
@media (max-width: 768px) {
  #root {
    padding: 0.5rem;
  }

  .container {
    padding: 1rem;
  }

  button {
    padding: 10px 20px;
    margin: 4px;
    width: calc(100% - 8px);
    max-width: 300px;
  }

  .candidate-card {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .candidate-list {
    grid-template-columns: 1fr;
  }

  .vote-history {
    padding: 1rem;
  }
}

